<div id="<%= dom_id course %>">
  <p>
    <strong>Titre:</strong>
    <%= course.titre %>
  </p>

  <p>
    <strong>Nbminutes:</strong>
    <%= course.nbminutes %>
  </p>

  <p>
    <strong>Curriculum:</strong>
    <%= course.curriculum %>
  </p>

</div>
