<div id="<%= dom_id vote %>">
  <p>
    <strong>Course:</strong>
    <%= vote.course_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vote.user_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= vote.note %>
  </p>

</div>
